/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root{
  --first-color: #6C56E1;
  --second-color: #000000;
 --background: #4285f4;
  --primary-color: #000;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

#digital-clock {
 background-color: #fff;
 font-family: 'Open Sans Condensed', 'bold', sans-serif;
 font-size: 20px;
 text-align: center;
}



/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: rgba(255, 255, 255, 0.548);
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}
.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: #fff;
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.home{
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home__data{
  align-self: center;
}
.home__title{
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home__title-color{
  color: var(--first-color);
}
.home__social{
  display: flex;
  flex-direction: column;
}
.home__social-icon{
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}
.home__social-icon:hover{
  color: var(--first-color);
}
.home__img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}

/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
}
.button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

.button_vis{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
}




/* ===== ABOUT =====*/
.about__container{
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle{
  margin-bottom: var(--mb-2);
}
.about__img{
  justify-self: center;
}
.about__img img{
  width: 200px;
  border-radius: .5rem;
}

/* ===== SKILLS =====*/
.skills__container{
  row-gap: 2rem;
  text-align: center;
}
.skills__subtitle{
  margin-bottom: var(--mb-2);
}
.skills__text{
  margin-bottom: var(--mb-4);
  text-align: justify;
}
.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
.skills__icon{
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills__names{
  display: flex;
  align-items: center;
}
.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}
.skills__html{
  width: 1%;
}
.skills__css{
  width: 1%;
}
.skills__js{
  width: 1%;
}
.skills__ux{
  width: 1%;
}
.skills__img{
  border-radius: .5rem;
}

/* ===== WORK =====*/
.work__container{
  row-gap: 2rem;
}
.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
}
.work__img img{
  transition: 1s;
  cursor: pointer;
}
.work__img img:hover{
  transform: scale(1.1);
}

/* ===== CONTACT =====*/
.contact__input{
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer{
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title{
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social{
  margin-bottom: var(--mb-4);
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }

  .home{
    height: 100vh;
  }
  .home__data{
    align-self: flex-end;
  }
  .home__social{
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon{
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img{
    width: 457px;
    bottom: 15%;
  }

  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 300px;
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .home__img{
    right: 10%;
  }

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  
  
  
  
  

  
 /* Profile_page */
body{
 background:#dcdcdc;
 margin-top:20px;
}
.profile-cover {
    position: relative;
    z-index: 0;
}

.panel {
    margin-bottom: 30px;
    color: #696969;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
}

.profile-cover__action {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding: 120px 30px 10px 153px;
    border-radius: 5px 5px 0 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    overflow: hidden;
    background: url(https://bootdey.com/img/Content/bg1.jpg) no-repeat;
    background-size: cover;
}

.profile-cover__action > .btn {
    margin-left: 10px;
    margin-bottom: 10px;
}

.profile-cover__img {
    position: absolute;
    top: 120px;
    left: 30px;
    text-align: center;
    z-index: 1;
}

.profile-cover__img > img {
    max-width: 120px;
    border: 5px solid #fff;
    border-radius: 50%;
}

.profile-cover__img > .h3 {
    color: #393939;
    font-size: 20px;
    line-height: 30px;
}

.profile-cover__img > img + .h3 {
    margin-top: 6px;
}

.profile-cover__info .nav {
    margin-right: 28px;
    padding: 15px 0 10px 170px;
    color: #999;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.profile-cover__info .nav li {
    margin-top: 13px;
    margin-bottom: 13px;
}

.profile-cover__info .nav li:not(:first-child) {
    margin-left: 30px;
    padding-left: 30px;
    border-left: 1px solid #eee;
}

.profile-cover__info .nav strong {
    display: block;
    margin-bottom: 10px;
    color: #e16123;
    font-size: 34px;
}

@media (min-width: 481px) {
    .profile-cover__action > .btn {
        min-width: 125px;
    }

    .profile-cover__action > .btn > span {
        display: inline-block;
    }
}

@media (max-width: 600px) {
    .profile-cover__info .nav {
        display: block;
        margin: 90px auto 0;
        padding-left: 30px;
        padding-right: 30px;
    }

    .profile-cover__info .nav li:not(:first-child) {
        margin-top: 8px;
        margin-left: 0;
        padding-top: 18px;
        padding-left: 0;
        border-top: 1px solid #eee;
        border-left-width: 0;
    }
}

.panel {
    margin-bottom: 30px;
    color: #696969;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
}

.panel-heading {
    color: #393939;
    padding: 10px 20px;
    border-width: 0;
    border-radius: 0;
}

.panel-heading:after,
.panel-heading:before {
    content: " ";
    display: table;
}

.panel-heading:after {
    clear: both;
}

.panel-title {
    float: left;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel-title select {
    border-width: 0;
    background-color: transparent;
    text-transform: uppercase;
}

.panel-title select option {
    text-transform: capitalize;
}

.panel-title .select2 {
    display: block;
    min-width: 200px;
}

.panel-title .select2-selection {
    height: auto;
    padding: 0;
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    overflow: hidden;
    white-space: nowrap;
}

.no-outlines .panel-title .select2-selection {
    outline: 0;
}

.panel-title .select2-selection .select2-selection__rendered {
    float: left;
    margin-right: 8px;
    padding: 0;
    line-height: inherit;
}

.panel-title .select2-selection .select2-selection__arrow {
    float: left;
    display: block;
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    height: auto;
}

.panel-title .select2-selection .select2-selection__arrow:before {
    content: "\f107";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 700;
}

.panel-title .select2-container--open .select2-selection__arrow:before {
    content: "\f106";
}

.panel-heading .dropdown {
    float: right;
}

.panel-heading .dropdown .dropdown-toggle {
    margin: -10px -20px;
    padding: 10px 20px;
    color: #999;
    border-width: 0;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
}

.panel-heading .dropdown .dropdown-toggle:after,
.toolbar__nav > li > a > span {
    display: none;
}

.panel-heading .dropdown-menu {
    top: 30px !important;
    left: auto !important;
    right: -20px;
    margin: 0;
    padding: 10px 0;
    border-width: 0;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -webkit-transform: none !important;
    transform: none !important;
    z-index: 1001;
}

.panel-heading .dropdown-menu a {
    padding: 5px 15px;
    color: #999;
    font-size: 13px;
    line-height: 23px;
}

.panel-heading .dropdown-menu a:hover {
    color: #e16123;
}

.panel-heading .dropdown-menu i {
    min-width: 15px;
    margin-right: 6px;
    font-size: 11px;
    text-align: center;
}

.panel-subtitle {
    margin: 20px 0;
}

.panel-subtitle:first-child {
    margin-top: 0;
}

.panel-subtitle .h5 {
    color: #999;
    font-weight: 600;
}

.panel-subtitle .h5 small {
    color: #777;
}

.panel-body {
    padding: 20px;
}

.panel-content,
.panel-social {
    position: relative;
    border-radius: 0 0 4px 4px;
}

.panel-content {
    border-top: 1px solid #eee;
    padding: 31px 20px 33px;
}

.panel-about table {
    width: 100%;
    word-break: break-word;
}

.panel-about table tr + tr td,
.panel-about table tr + tr th {
    padding-top: 8px;
}

.panel-about table th {
    min-width: 120px;
    color: #2bb3c0;
    font-weight: 400;
    vertical-align: top;
}

.panel-about table th > i {
    min-width: 14px;
    margin-right: 8px;
    text-align: center;
}

.panel-social {
    padding: 0 20px 33px;
    z-index: 0;
}

.panel-heading + .panel-social {
    padding-top: 21px;
    border-top: 1px solid #eee;
}

.panel-social > .nav {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.panel-social > .nav > li:not(:last-child) {
    margin-right: 20px;
}

.panel-social > .nav > li > a {
    color: #ccc;
}

.panel-activity__status > .actions {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding: 10px 20px;
    background-color: #ebebea;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-link {
    display: inline-block;
    color: inherit;
    font-weight: inherit;
    cursor: pointer;
    background-color: transparent;
}

button.btn-link {
    border-width: 0;
}

.panel-activity__status > .actions > .btn-group > .btn-link:not(:last-child) {
    margin-right: 25px;
}

.panel-activity__status > .actions > .btn-group > .btn-link {
    padding-left: 0;
    padding-right: 0;
    color: #9c9c9c;
}

.btn-info {
    background-color: #2bb3c0;
    border: none;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}

.panel-activity__status > .actions > .btn-group {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    font-size: 16px;
}

.panel-activity__list {
    margin: 60px 0 0;
    padding: 0;
    list-style: none;
}

.panel-activity__list,
.panel-activity__list > li {
    position: relative;
    z-index: 0;
}

.panel-activity__list:before {
    content: " ";
    display: none;
    position: absolute;
    top: 20px;
    left: 35px;
    bottom: 0;
    border-left: 2px solid #ebebea;
}

.activity__list__icon {
    display: none;
    position: absolute;
    top: 2px;
    left: 0;
    min-width: 30px;
    color: #fff;
    background-color: #2bb3c0;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}

.panel-activity__list,
.panel-activity__list > li {
    position: relative;
    z-index: 0;
}

.activity__list__header {
    position: relative;
    min-height: 35px;
    padding-top: 4px;
    padding-left: 45px;
    color: #999;
    z-index: 0;
}

.activity__list__body {
    padding-top: 13px;
    padding-left: 43px;
}

.entry-content .gallery {
    margin: 0;
    list-style: none;
    padding: 0;
}

.entry-content .gallery,
.m-error {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.entry-content .gallery > li {
    padding-right: 20px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.gallery > li img {
    max-width: 100%;
    height: auto;
}

.entry-content blockquote:last-child,
p:last-child,
table:last-child,
ul:last-child {
    margin-bottom: 0;
}

.entry-content blockquote:last-child,
p:last-child,
table:last-child,
ul:last-child {
    margin-bottom: 0;
}

.entry-content blockquote p:before {
    content: "\f10d";
    color: #999;
    margin-right: 12px;
    font-family: "FontAwesome";
    font-size: 24px;
    font-weight: 900;
}

.activity__list__header img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 35px;
    border-radius: 50%;
}

.activity__list__header a {
    color: #222;
    font-weight: 600;
}

.activity__list__footer {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin-top: 23px;
    margin-left: 43px;
    padding: 13px 8px 0;
    color: #999;
    border-top: 1px dotted #ccc;
}

.activity__list__footer a {
    color: inherit;
}

.activity__list__footer a + a {
    margin-left: 15px;
}

.activity__list__footer i {
    margin-right: 8px;
}

.activity__list__footer a:hover {
    color: #222;
}

.activity__list__footer span {
    margin-left: auto;
}

.panel-activity__list > li + li {
    margin-top: 51px;
}

.weather--panel {
    padding: 24px 20px 36px;
    border-radius: 5px;
    text-align: center;
}

.weather--title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.weather--title .fa {
    margin-right: 5px;
    font-size: 30px;
    line-height: 40px;
}

.weather--info {
    margin-top: 14px;
    font-size: 46px;
    line-height: 56px;
}

.weather--info .wi {
    margin-right: 10px;
}

.bg-blue {
    background-color: #2bb3c0;
}

.bg-orange {
    background-color: #e16123;
}

.todo--panel .list-group,
.user--list > li,
.user--list > li > a {
    position: relative;
    z-index: 0;
}

.hero-height {
    max-height: 314px;
}

.hero-height .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: rgb(233, 236, 238);
}

.todo--panel .list-group {
    margin-bottom: 0;
    padding-top: 23px;
    padding-bottom: 25px;
}

.todo--panel .list-group:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-top: 1px solid #eee;
}

.todo--panel .list-group-item {
    margin-top: 27px;
    padding: 0;
    border-width: 0;
}

li.list-group-item:first-child {
    margin-top: 0;
}

.todo--label {
    padding-left: 20px;
    padding-right: 30px;
    color: #696969;
    font-weight: 400;
}

.todo--input {
    display: none;
}

.todo--text {
    display: block;
    position: relative;
    padding-left: 39px;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    cursor: pointer;
    z-index: 0;
}

.todo--input:checked + .todo--text {
    color: #999;
    text-decoration: line-through;
}

.todo--text:after,
.todo--text:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.todo--text:before {
    border: 1px solid #ccc;
    content: " ";
}

.todo--text:after {
    content: "\f00c";
    color: #fff;
    background-color: #009378;
    font-family: "FontAwesome";
    font-size: 11px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-transition: opacity 0.25s linear, -webkit-transform 0.25s linear;
    transition: opacity 0.25s linear, transform 0.25s linear;
    transition: opacity 0.25s linear, transform 0.25s linear, -webkit-transform 0.25s linear;
}

.todo--input:checked + .todo--text:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1);
    transform: scale(1);
}

.todo--remove {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -15px;
    color: #999;
    font-size: 18px;
    line-height: 28px;
}

.todo--panel .input-group {
    border-top: 1px solid #eee;
}

.todo--panel .form-control {
    height: auto;
    padding: 13px 20px 14px;
    border-width: 0;
}

.todo--panel .btn-link {
    padding: 12px 16px;
    color: #ccc;
    font-size: 28px;
    border-width: 0;
    text-decoration: none;
}

.feeds-panel {
    margin: 20px 20px 0;
    padding-top: 17px;
    padding-bottom: 23px;
    border-top: 1px solid #ebebea;
}

.feeds-panel li {
    position: relative;
    width: 100%;
    min-height: 20px;
    padding-left: 40px;
    z-index: 0;
}

.feeds-panel li a {
    color: #e16123;
}

.feeds-panel li + li {
    margin-top: 12px;
}

.bg-red {
    background-color: #ff4040;
}

.bg-green {
    background-color: #009378;
}

.comments-panel > ul > li:after,
.comments-panel > ul > li:before,
.feeds-panel li:after,
.feeds-panel li:before {
    content: " ";
    display: table;
}

.comments-panel > ul > li:after,
.feeds-panel li:after {
    clear: both;
}

.feeds-panel .time {
    float: right;
    margin-left: 5px;
    color: #ccc;
    font-style: italic;
}

.feeds-panel .fa {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 30px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

.feeds-panel .text {
    color: #696969;
    line-height: 26px;
}
  
  
  
  
  
  
  
  
  
  
  
  /* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
 
